@import "tailwindcss";
@import "tw-animate-css";

:root {
  /* Paleta de cores principal */
  --light: #f3efeb; /* Tom claro/off-white */
  --dark: #080807; /* Tom escuro/preto */
  --green-1: #6a7c6d; /* Verde mais claro */
  --green-2: #58695c; /* Verde claro-médio */
  --green-3: #6a7c6d; /* Verde médio */
  --green-4: #344339; /* Verde escuro-médio */
  --green-5: #223028; /* Verde mais escuro */

  /* Paleta secundária */
  --brown-1: #994215; /* Marrom escuro */
  --brown-2: #d67f48; /* Marrom médio */
  --blue-dark: #212c42; /* Azul escuro */
  --gray-blue: #788990; /* Cinza azulado */
}

@theme inline {
  --font-sans: var(--font-encode-sans);
  --font-mono: var(--font-encode-sans);
  --font-bebas: var(--font-bebas-neue);

  --color-green-1: var(--green-1);
  --color-green-2: var(--green-2);
  --color-green-3: var(--green-3);
  --color-green-4: var(--green-4);
  --color-green-5: var(--green-5);
  --color-light: var(--light);
  --color-dark: var(--dark);

  --color-brown-1: var(--brown-1);
  --color-brown-2: var(--brown-2);
  --color-blue-dark: var(--blue-dark);
  --color-gray-blue: var(--gray-blue);
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}

* {
  scroll-behavior: smooth;
}

.smooth-scroll {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

.bebas {
  font-family: var(--font-bebas-neue), sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
}

/* Texture */

.texture-overlay {
  position: fixed;
  inset: 0;
  background-image: url("/images/texture-01.png");
  background-repeat: repeat;
  background-size: auto;
  mix-blend-mode: multiply;
  opacity: 0.4;
  pointer-events: none;
  z-index: 999;
}

/* Swiper bullet styles */

.custom-bullet {
  width: 8px !important;
  height: 8px !important;
  background-color: var(--light) !important;
  margin: 20 4px !important;
  transition: all 0.3s ease !important;
  cursor: pointer !important;
  border-radius: 999 !important;
}

.custom-bullet-active {
  background-color: white !important;
  width: 16px !important;
  opacity: 1 !important;
  transform: scale(1.25) !important;
  box-shadow: 0 0 0 0.5px rgba(106, 124, 109, 0.3) !important;
}

.swiper-pagination {
  bottom: 24px !important;
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}
