@import "tailwindcss";

:root {
  /* Paleta de cores principal */
  --light: #f3efeb; /* Tom claro/off-white */
  --dark: #000000; /* Tom escuro/preto */
  --green-1: #6a7c6d; /* Verde mais claro */
  --green-2: #58695c; /* Verde claro-médio */
  --green-3: #6a7c6d; /* Verde médio */
  --green-4: #344339; /* Verde escuro-médio */
  --green-5: #223028; /* Verde mais escuro */

  /* Paleta secundária */
  --brown-1: #994215; /* Marrom escuro */
  --brown-2: #d67f48; /* Marrom médio */
  --blue-dark: #212c42; /* Azul escuro */
  --gray-blue: #788990; /* Cinza azulado */
}

@theme inline {
  --font-sans: var(--font-encode-sans);
  --font-mono: var(--font-encode-sans);

  --color-green-1: var(--green-1);
  --color-green-2: var(--green-2);
  --color-green-3: var(--green-3);
  --color-green-4: var(--green-4);
  --color-green-5: var(--green-5);
  --color-light: var(--light);
  --color-dark: var(--dark);

  --color-brown-1: var(--brown-1);
  --color-brown-2: var(--brown-2);
  --color-blue-dark: var(--blue-dark);
  --color-gray-blue: var(--gray-blue);
}

/* Texture */

.texture-overlay {
  position: fixed;
  inset: 0;
  background-image: url("/images/texture-01.png");
  background-repeat: repeat;
  background-size: auto;
  mix-blend-mode: multiply;
  opacity: 0.8;
  pointer-events: none;
  z-index: 999;
}

/* Efeito de sublinhado hover reutilizável */
.underline-hover {
  position: relative;
}

.underline-hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5px;
  width: 0;
  background-color: var(--green-4);
  transition: width 0.3s ease-out;
}

.underline-hover:hover::after {
  width: 100%;
}

.underline-hover.active::after {
  width: 100%;
}
/* Swiper bullet styles */

.custom-bullet {
  width: 8px !important;
  height: 8px !important;
  background-color: var(--light) !important;
  margin: 0 4px !important;
  transition: all 0.3s ease !important;
  cursor: pointer !important;
  border-radius: 1 !important;
  opacity: 0.8;
}

.custom-bullet-active {
  background-color: white !important;
  width: 16px !important;
  opacity: 1 !important;
  transform: scale(1.25) !important;
  box-shadow: 0 0 0 0.5px rgba(106, 124, 109, 0.3) !important;
}

.swiper-pagination {
  bottom: 24px !important;
}
