@import "tailwindcss";

:root {
  /* Paleta de cores principal */
  --light: #f3efeb; /* Tom claro/off-white */
  --dark: #000000; /* Tom escuro/preto */
  --green-1: #6a7c6d; /* Verde mais claro */
  --green-2: #58695c; /* Verde claro-médio */
  --green-3: #6a7c6d; /* Verde médio */
  --green-4: #344339; /* Verde escuro-médio */
  --green-5: #223028; /* Verde mais escuro */

  /* Paleta secundária */
  --brown-1: #994215; /* Marrom escuro */
  --brown-2: #d67f48; /* Marrom médio */
  --blue-dark: #212c42; /* Azul escuro */
  --gray-blue: #788990; /* Cinza azulado */
}

@theme inline {
  --font-sans: var(--font-encode-sans);
  --font-mono: var(--font-encode-sans);

  --color-green-1: var(--green-1);
  --color-green-2: var(--green-2);
  --color-green-3: var(--green-3);
  --color-green-4: var(--green-4);
  --color-green-5: var(--green-5);
  --color-light: var(--light);
  --color-dark: var(--dark);

  --color-brown-1: var(--brown-1);
  --color-brown-2: var(--brown-2);
  --color-blue-dark: var(--blue-dark);
  --color-gray-blue: var(--gray-blue);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f3efeb;
  }
} */

.custom-bullet {
  width: 8px !important;
  height: 8px !important;
  background-color: var(--light) !important;
  opacity: 1 !important;
  margin: 0 4px !important;
  transition: all 0.3s ease !important;
  cursor: pointer !important;
}

.custom-bullet-active {
  background-color: white !important;
  transform: scale(1.25) !important;
  box-shadow: 0 0 0 0.5px rgba(106, 124, 109, 0.3) !important;
}

.swiper-pagination {
  bottom: 24px !important;
}
